@using Research_Repository_Utility;

@model Research_Repository_Models.ViewModels.ItemRequestVM;

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Requests</h2>
        </div>
    </div>

    <br /><br />
    <ul>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Theme" asp-action="Index">Themes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="Index">Teams</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark item-request-link" asp-area="" asp-controller="ItemRequest" asp-action="Index">Requests</a>
            <span id="item-request-count"></span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Create admin user</a>
        </li>
    </ul>

    <form>
        <input asp-action="ReindexItems" type="submit" />
    </form>

        <div id="filters" class="librarian-filters">
            <button id="submitted-filter-btn" onclick="updateFilterParameters(0, '@WC.Submitted')">Submitted</button>
            <button id="published-filter-btn" onclick="updateFilterParameters(0, '@WC.Published')">Published</button>
            <button id="rejected-filter-btn" onclick="updateFilterParameters(0, '@WC.Rejected')">Rejected</button>
        </div>

        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Item Team</th>
                    <th>Item Abstract</th>
                    <th></th>

                </tr>
            </thead>
            <tbody id="item-list">
                <!-- Populated with published items on page load using javascript -->
            </tbody>
        </table>

    <!-- Pagination -->
    <div id="item-list-pagination"></div>
</div>

