@using Research_Repository_Utility;

@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Research_Repository</title>
</head>

<body>
    <!-- Header -->
    <header class="grid">
        <div class="header grid-column-main--full-width">
            <div class="header__content">
                <div class="alert-banner__container">
                    <div class="alert-banner__image-container">
                        <svg class="alert-banner__image"
                             width="100%"
                             height="100%"
                             viewBox="0 0 188 171"
                             version="1.1"
                             xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink"
                             xml:space="preserve"
                             xmlns:serif="http://www.serif.com/"
                             style="
            fill-rule: evenodd;
            clip-rule: evenodd;
            stroke-linejoin: round;
            stroke-miterlimit: 2;
          ">
                        <rect x="65.221"
                              y="41.512"
                              width="51.427"
                              height="111.682"
                              style="fill: #cd6456" />
                        <path d="M185.39,145.317c6.008,10.414 -1.534,23.433 -13.535,23.433l-156.212,0c-12.024,0 -19.531,-13.039 -13.535,-23.433l78.108,-135.426c6.011,-10.42 21.068,-10.401 27.068,-0l78.106,135.426Zm-91.64,-28c-8.27,0 -14.974,6.705 -14.974,14.975c0,8.27 6.704,14.974 14.974,14.974c8.27,-0 14.974,-6.704 14.974,-14.974c0,-8.27 -6.704,-14.975 -14.974,-14.975Zm-14.216,-53.823l2.414,44.271c0.113,2.072 1.826,3.693 3.901,3.693l15.803,0c2.074,0 3.787,-1.621 3.9,-3.693l2.415,-44.271c0.122,-2.237 -1.66,-4.119 -3.901,-4.119l-20.632,-0c-2.241,-0 -4.022,1.882 -3.9,4.119Z"
                              style="fill: #fff; fill-rule: nonzero" />
        </svg>
                    </div>

                    <div class="alert-banner__text-container">
                        <div class="alert-banner__text">
                            This is a POC, please do not upload any real research. This website is
                            only intended for testing purposes.
                        </div>
                    </div>
                </div>
                <div class="header__header-top">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="header__logo-link">
                        <div class="header__logo-image-container">
                            <img class="header__logo-image"
                                 src="~/images/pngs/aus-gov-logo.png"
                                 alt="australian_government_logo" />
                        </div>
                        <div class="header__logo-text-container">
                            <h1 class="header__logo-text-heading site-heading">
                                Research Repository
                            </h1>
                            <h2 class="header__logo-text-subheading site-subheading">
                                All your research in one place.
                            </h2>
                        </div>
                    </a>
                </div>
                <div class="header__header-bottom">
                    <nav class="header__navbar">
                        <a id="home-nav-link" class="header__nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                            Home
                        </a>
                        <a id="library-nav-link" class="header__nav-link" asp-area="" asp-controller="Item" asp-action="Index"> Library </a>
                        <a id="contribute-nav-link" class="header__nav-link" asp-area="" asp-controller="Item" asp-action="Upsert"> Contribute </a>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a id="login-nav-link" class="header__nav-link" asp-area="Identity" asp-page="/Account/Login"> Login/Register </a>
                        }
                        else
                        {
                            <form id="login-nav-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })">
                                <button type="submit" id="logout-nav-link" class="header__nav-link"> Logout </button>
                            </form>

                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="header__nav-link--align-right">
                                @if (User.IsInRole(WC.LibrarianRole))
                                {
                                    <a id="librarian-nav-link" class="header__nav-link" asp-area="" asp-controller="ItemRequest" asp-action="Index"> Librarian Portal </a>
                                }
                                <a id="profile-nav-link" class="header__nav-link" asp-area="" asp-controller="Profile" asp-action="Index"> Profile </a>
                                <span id="item-notification-count" class="
                    notification-bubble notification-bubble__header-notification notification-bubble--hidden
                  "></span>
                            </div>
                        }
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- Main content -->
    <main>
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer class="grid grid--footer">
        <div class="footer grid-column-main--full-width">
            <div class="footer__content">
                <div class="footer__nav-links">
                    <a class="footer__nav-link" href="#"> Privacy </a>
                    <a class="footer__nav-link" href="#"> Need help? </a>
                    <a class="footer__nav-link" href="#"> Accessibility </a>
                    <a class="footer__nav-link" href="#"> Disclaimer </a>
                </div>
                <div class="footer__footer-bottom">
                    <span class="footer__copyright-disclaimer">&copy; Commonwealth of Australia</span>
                </div>
            </div>
        </div>
    </footer>

    <!-- Javascript and CSS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet" />

    <!-- Custom -->
    <script src="~/js/scripts.min.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/styles.min.css">

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
