@page
@model LoginModel

<h1>@ViewData["Title"]</h1>
<!-- grid-column-main -->
<div class="grid">
    <div class="form grid-column-main">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h1 class="margin-bottom--large">Login</h1>
            <div class="field">
                <label asp-for="Input.Email" class="field__label">Email address:</label>
                <input type="text"
                       asp-for="Input.Email"
                       class="field__input"
                       value="" />
                <span asp-validation-for="Input.Email" class="field__error-text"></span>
            </div>

            <div class="field">
                <label asp-for="Input.Password" class="field__label">Password:</label>
                <input asp-for="Input.Password"
                       class="field__input"
                       value="" />
                <span asp-validation-for="Input.Password" class="field__error-text"></span>
            </div>

            <div class="button-group margin-bottom--medium">
                <div class="field__list-item field__list-item--large">

                    <label asp-for="Input.RememberMe"
                           class="field__label field__label--toggle field__label--checkbox"
                           tabindex="0"
                           role="button">
                        <input type="checkbox"
                               asp-for="Input.RememberMe"
                               class="field__input-toggle field__input-checkbox" />
                        Remember me
                    </label>
                </div>

                <a class="link link--red align-right" id="forgot-password" asp-page="./ForgotPassword">Forgot Password?</a>
            </div>

            <div class="button-group margin-bottom--medium">
                <button type="submit" class="button">Login</button>
            </div>

        </form>
        <div class="button-group button-group--vertical margin-bottom--medium">
            <h4>Don't have an account?</h4>
                <a class="link link--green" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create an account to contribute</a>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


