body {
    display: grid;
    align-items: start;
    min-height: 100vh;
    grid-template-rows: auto auto 1fr auto;
}

.grid {
    display: grid;
    width: 100%;
    grid-auto-rows: min-content auto min-content;
    grid-template-columns: [full-start] minmax(2rem,1fr) [center-extended-start] minmax(min-content,11.52rem) [center-start] repeat(10,[col-start] minmax(min-content,11.52rem) [col-end]) [center-end] minmax(min-content,11.52rem) [center-extended-end] minmax(2rem,1fr) [full-end];

  &--sidebar {
    grid-auto-rows: min-content min-content auto min-content;
    grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(
        21,
        [col-start] minmax(min-content, 5.5rem) [col-end]
      ) [center-end] minmax(2rem, 1fr) [full-end];

      &-pagination {
        grid-auto-rows: min-content min-content min-content auto min-content; //Ensures last row in grid leaves space between itself and the footer
      }
  }
  &--footer {
      align-self: end;
  }

  &-column {

    &-main {
      grid-column: center-start / center-end;
      width: 100%;
      &--full-width {
        grid-column: full-start / full-end;
      }

    &--extended {
        grid-column: center-extended-start / center-extended-end;
        }

      &--half-width {
        grid-column: center-start / col-end 4;
      }

      &--with-sidebar {
        grid-column: col-start 8 / center-end;

                    @media(max-width: 1101px) {
              grid-column: center-start / center-end;
        margin-top: 3rem;
        }
      }
    }

    &-sidebar {
      grid-column: center-start / col-end 6;
      width: 100%;

            @media(max-width: 1101px) {
              grid-column: center-start / center-end;
        }
    }

  }
}
