.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(37.5rem, 1fr));
    align-items: center;
    justify-items: start;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    width: 100%;
    height: auto;
    position: relative;

    &--vertical {
        grid-template-columns: repeat(auto-fill, 100%);
    }
}

.card {
    align-self: flex-start;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    padding: 3.4rem 4.5rem;
    background: $white;
    border-top: 1rem solid $base-blue;
    border-radius: 1rem;
    box-shadow: 0 0.4rem 0.4rem 0 $shadow;
    transition: transform 0.3s ease 0s, background-color 0.3s ease 0s, box-shadow 0.3s ease 0s, outline 0s;
    backface-visibility: hidden;
    //Colours
    &--yellow {
        border-color: $base-yellow;
    }

    &--green {
        border-color: $base-green;
    }

    &--red {
        border-color: $base-red;
    }

    &--pathway:hover {
        box-shadow: 0 1rem 2rem 0 $shadow;
        transform: translateY(-0.7rem);
        cursor: pointer;
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        &--margin-right {
            margin-right: 1.6rem;
        }
    }

    &__heading-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 1.2rem;
    }

    &__heading {
        padding-right: 1.6rem;
    }

    &--hero {
        height: 100%;
        padding-bottom: 2.5rem;
        padding-right: 3.1rem;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        //Colours
        &:nth-child(3n+1) {
            border-color: $base-yellow;

            svg path {
                fill: $base-yellow;
            }
        }

        &:nth-child(3n+2) {
            border-color: $base-green;

            svg path {
                fill: $base-green;
            }
        }

        &:nth-child(3n+3) {
            border-color: $base-red;

            svg path {
                fill: $base-red;
            }
        }
    }

    &__description-container {
        display: -webkit-box;
        max-width: 100%;
    }

    &__arrow-icon-container {
        width: 3.1rem;
        height: 3.1rem;
        margin-top: 5rem;
        flex-shrink: 0;
        align-self: flex-end;
        justify-content: flex-end;
    }

    &__arrow-icon {
        width: 100%;
        height: 100%;
    }

    .pills-list {
        margin-top: 1.4rem;
    }
}
